<extend name="Public:base" />

<block name="script">
<script type="text/javascript">
//用户重新登录弹框
function qq_relogin(){
  fusion2.dialog.relogin();
}
//跳转到用户的个人中心
function qq_to_home(){
  fusion2.nav.toHome ({
    // 可选。为true则在当前窗口打开，为false或不指定则在新窗口打开。
    self : false,
  });
}
//跳转到好友主页
function qq_to_friend_home(f_open_id){
  fusion2.nav.toFriendHome ({
     // 必须。表示好友的openid。
     openid : f_open_id,
     // 可选。为true则在当前窗口打开，为false或不指定则在新窗口打开。
     self : false 
  });
}
//推荐添加某用户为平台好友
function qq_recommend_pal(){
  fusion2.dialog.recommendPal({
    context : "recommendPal_12345", 
    onSuccess : function (opt) 
    { alert("Succeeded: " + opt.context); window.console && console.log(opt);}, 

    onCancel : function (opt) 
    { alert("Cancelled: " + opt.context); }, 

    onClose : function (opt) 
    { alert("Closed") }
  });
}
//添加某用户为平台好友
function qq_add_pal(f_open_id){
  fusion2.dialog.addPal ( {
    openid : f_open_id, 

    context : "addPal _12345", 

    onSuccess : function (opt) 
    { alert(fusion.JSON.stringify(opt)); },

    onCancel : function (opt) 
    { alert("Cancelled: " + opt.context); }, 

    onClose : function (opt) 
    { alert("Closed") }
  })
}

</script>

</block>
<block name="keywords">"keywords"</block>
<block name="description">"description"</block>
<block name="qq_app_pf">{$qq_app_pf}</block>
<block name="qq_app_id">{$qq_app_id}</block>
<block name="title">title</block>
<block name="menu"></block>
<block name="left"></block>
<block name="main">
  <br><a href= 'javascript:void(0)' onclick='javascript:qq_relogin();'>重新登录</a>
  <br><a href= 'javascript:void(0)' onclick='javascript:qq_to_home();'>个人中心</a>
  <br><a href= 'javascript:void(0)' onclick='javascript:qq_to_friend_home("aaaaaaaaaaaaaa");'>转到朋友个人中心</a>

  <br><a href= 'javascript:void(0)' onclick='javascript:qq_recommend_pal();'>推荐添加某用户为平台好友</a>
  <br><a href= 'javascript:void(0)' onclick='javascript:qq_add_pal("aaaaaaaaaaaaaa");'>添加某用户为平台好友</a>

  <br>__JS_PATH__
  <br>__ROOT__
  <br>{$user}
<!--
  <input type='button' id='btn1' value='login' onclick="javascript:fusion2.dialog.relogin();" />
-->
</block>
<block name="right">
<!--函数使用，模板中使用URL生成函数-->
<a href="{:U('Index/index', array('id'=>1), "", false)}">aaaaa</a>
<br>
<foreach name='user' item='v' key='k'>
{$v.id}-{$v.name|echo=###}<br>
</foreach>

</block>
<block name="footer">
</block>
